<section class="section5-bg">
  <div class="container">
    <div class="row col-12 section5">
      <!-- Depoimento 1 -->
      <div class="col-6 section5-depoimentos">
        <div class="row section5-depoimento">
          <div class="col section5-depoimento-img">imagem</div>
          <div class="col section5-depoimento-descricao">
            <div class="section5-depoimento-cargo">cargo</div>
            <div class="section5-depoimento-nome">nome</div>
            <div class="section5-depoimento-cidade">cidade</div>
          </div>
        </div>
        <div class="row col section5-depoimento-texto">
          <div class="col-2 section5-depoimento-texto-aspas">"</div>
          <div class="col section5-depoimento-texto-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porttitor est purus, sed scelerisque augue faucibus at.  </div>
        </div>
      </div>
      <!-- Depoimento 2 -->
      <div class="col-6 section5-depoimentos">
        <div class="row section5-depoimento">
          <div class="col section5-depoimento-img">imagem</div>
          <div class="col section5-depoimento-descricao">
            <div class="section5-depoimento-cargo">cargo</div>
            <div class="section5-depoimento-nome">nome</div>
            <div class="section5-depoimento-cidade">cidade</div>
          </div>
        </div>
        <div class="row col section5-depoimento-texto">
          <div class="col-2 section5-depoimento-texto-aspas">"</div>
          <div class="col section5-depoimento-texto-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porttitor est purus, sed scelerisque augue faucibus at.  </div>
        </div>
      </div>
    </div>
  </div>
</section>
