<section class="section5-bg">
  <div class="container">
    <div class="row col-12 section5 pt-80">
      <!-- Depoimento 1 -->
      <div class="col-6 section5-depoimentos">
        <div class="row section5-depoimento">
          <div class="col section5-depoimento-img"><img class="img-fluid" src="../../../assets/img/depoimentos/1.png"
              alt="depoimento-1"></div>
          <div class="row col section5-depoimento-descricao">
            <div class="section5-depoimento-cargo">Presidente Conselho Regional de Contabilidade</div>
            <div class="section5-depoimento-nome">Joana Dark</div>
            <div class="section5-depoimento-cidade">São Miguel dos Campos - AL</div>
          </div>
        </div>
        <div class="row col section5-depoimento-texto pt-35">
          <div class="col-2 section5-depoimento-texto-aspas">"</div>
          <div class="col section5-depoimento-texto-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
            porttitor est purus, sed scelerisque augue faucibus at. </div>
        </div>
      </div>
      <!-- Depoimento 2 -->
      <div class="col-6 section5-depoimentos">
        <div class="row section5-depoimento">
          <div class="col section5-depoimento-img"><img class="img-fluid" src="../../../assets/img/depoimentos/2.png"
              alt="depoimento-2"></div>
          <div class="row col section5-depoimento-descricao">
            <div class="section5-depoimento-cargo">Diretor Clínica Saúde</div>
            <div class="section5-depoimento-nome">João Santos</div>
            <div class="section5-depoimento-cidade">Arapiraca - AL</div>
          </div>
        </div>
        <div class="row col section5-depoimento-texto pt-35">
          <div class="col-2 section5-depoimento-texto-aspas">"</div>
          <div class="col section5-depoimento-texto-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
            porttitor est purus, sed scelerisque augue faucibus at. </div>
        </div>
      </div>
    </div>
  </div>
</section>
