<section class="section2-bg">
  <div class="container section2-bg">
    <div class="row section2">
      <div class="col-5 section2-1">
        <div class="row section2-1-frase"><b>Marketing</b> baseado em dados, testes e muita análise</div>
        <div class="row section2-1-frase2">
          Confira o vídeo ao lado e fique por dentro de como funciona nossa forma de trabalho
        </div>
      </div>
      <div class="col-7 section2-2">
        Video
      </div>
    </div>
  </div>
</section>
