<section class="section2-bg" id="quem-somos">
  <div class="container section2-bg pt-70 pb-70">
    <div class="section2-img">
      <div class="row section2">
        <div class="col-5 section2-1">
          <div class="row section2-1-frase"><b>Marketing</b> baseado em dados, testes e muita análise</div>
          <div class="row section2-1-frase2">
            Confira o vídeo ao lado e fique por dentro de como funciona nossa forma de trabalho
          </div>
        </div>
        <div class="col-7 section2-2">
          <video class="section2-2-video img-fluid" controls>
            <source src="../../../assets/videos/leva.mp4" type="video/mp4">
          </video>
        </div>
      </div>
  </div>
  </div>
</section>
