<form class="pt-70 pe-70 pd-70 pb-70">
  <div class="mb-3">
    <label for="nome" class="form-label label-input">Nome*</label>
    <input type="text" class="form-control form-input" id="nome" aria-describedby="nome" required/>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label label-input">Email*</label>
    <input type="email" class="form-control form-input" id="email" aria-describedby="email" required/>
  </div>
  <div class="mb-3">
    <label for="tel" class="form-label label-input">Telefone*</label>
    <input type="tel" class="form-control form-input" id="tel" aria-describedby="tel" required/>
  </div>
  <div class="mb-3">
    <label for="assunto" class="form-label label-input">Assunto*</label>
    <input type="text" class="form-control form-input" id="assunto" aria-describedby="assunto" required/>
  </div>
  <div class="mb-3 pb-50 ">
    <label for="mensagem" class="form-label label-input">Mensagem*</label>
    <textarea class="form-control form-input" id="mensagem"></textarea>
  </div>
  <div class="row">
    <button type="submit" class="btn btn-laranja">Enviar</button>
  </div>
</form>
