<div class="row offset-1 col-10 offset-1 section3-2-cards pt-65">
  <!-- Primeira fila de serviços -->
  <div class="row">
    <div class="col text-center section3-2-card">
      <div class="section3-2-card-icone"><img class="img-fluid"
          src="../../../assets/img/servicos/desenvolvimento-web.png" alt="desenvolvimento-web"></div>
      <div class="section3-2-card-servico">Desenvolvimento de WebSites</div>
      <div class="section3-2-card-descricao">Sites institucionais para empresas</div>
    </div>
    <div class="col text-center section3-2-card">
      <div class="section3-2-card-icone"><img class="img-fluid"
          src="../../../assets/img/servicos/desenvolvimento-de-sistemas-web.png" alt="desenvolvimento-de-sistemas-web">
      </div>
      <div class="section3-2-card-servico">Desenvolvimento de Sistemas Web</div>
      <div class="section3-2-card-descricao">Soluções para gerenciamento de necessidades</div>
    </div>
    <div class="col text-center section3-2-card">
      <div class="section3-2-card-icone"><img class="img-fluid" src="../../../assets/img/servicos/analise-seo.png"
          alt="analise-seo"></div>
      <div class="section3-2-card-servico">Análise Seo <br><span>(Search engine Optimization)</span></div>
      <div class="section3-2-card-descricao">Análise e correções para que o site seja encontrado com mais facilidade
      </div>
    </div>
  </div>
  <!-- Segunda fila de serviços -->
  <div class="row">
    <div class="col text-center section3-2-card mt-30">
      <div class="section3-2-card-icone"><img class="img-fluid"
          src="../../../assets/img/servicos/estrategia-de-marketing.png" alt="estrategia-de-marketing"></div>
      <div class="section3-2-card-servico">Estratégias de Marketing</div>
      <div class="section3-2-card-descricao">Planejamento de estratégias de acordo com o nicho da empresa</div>
    </div>
    <div class="col text-center section3-2-card mt-30">
      <div class="section3-2-card-icone"><img class="img-fluid"
          src="../../../assets/img/servicos/flyers-para-redes-sociais.png" alt="flyers-para-redes-sociais"></div>
      <div class="section3-2-card-servico">Cards para redes sociais</div>
      <div class="section3-2-card-descricao">Desenvolvimento de cards para redes sociais</div>
    </div>
    <div class="col text-center section3-2-card mt-30">
      <div class="section3-2-card-icone"><img class="img-fluid" src="../../../assets/img/servicos/fotografia.png"
          alt="fotografia"></div>
      <div class="section3-2-card-servico">Ensaios fotográficos</div>
      <div class="section3-2-card-descricao">Ensaios institucionais, casamentos, eventos e editoriais
      </div>
    </div>
  </div>
  <!-- Terceira fila de serviços -->
  <div class="row">
    <div class="col text-center section3-2-card mt-30">
      <div class="section3-2-card-icone"><img class="img-fluid"
          src="../../../assets/img/servicos/producao-de-videos.png" alt="producao-de-videos"></div>
      <div class="section3-2-card-servico">Produção de vídeos</div>
      <div class="section3-2-card-descricao">Vídeos institucionais, casamentos e eventos</div>
    </div>
    <div class="col text-center section3-2-card mt-30">
      <div class="section3-2-card-icone"><img class="img-fluid" src="../../../assets/img/servicos/animacao-2d.png"
          alt="animacao-2d"></div>
      <div class="section3-2-card-servico">Animação em 2D</div>
      <div class="section3-2-card-descricao">Vinhetas para canais e animação institucional
      </div>
    </div>
  </div>
</div>
