<app-header></app-header>
<section class="container">
  <div class="row section1">
    <div class="offset-1 col-4 section1-1">
      <div class="row section1-1-frase">Tudo que sua empresa precisa para se colocar na internet</div>
      <div class="row section1-1-btn">
        <div class="col section1-1-bt-1">btn 1</div>
        <div class="col section1-1-bt-2">btn 2</div>
      </div>
    </div>
    <div class="col-7">
      Img
    </div>
  </div>
</section>
<section class="container">
  <div class="row section2">
    <div class="offset-1 col-4 section2-1">
      <div class="row section2-1-frase"><b>Marketing</b> baseado em dados, testes e muita análise</div>
      <div class="row section2-2-frase">
        Confira o vídeo ao lado e fique por dentro de como funciona nossa forma de trabalho
      </div>
    </div>
    <div class="col-7">
      Video
    </div>
  </div>
</section>
<app-footer></app-footer>

