<section class="container mt-70 mb-70">
  <div class="row section1 col-12">
    <div class="col-5 section1-alinhamento">
      <div class="section1-1-frase">Tudo que sua empresa precisa para se colocar na <b>internet</b></div>
      <div class="row section1-1-btn mt-35">
        <div class="col section1-1-bt-1 d-grid gap-2">
          <a class="btn btn-laranja" href="#" role="button">Saiba mais</a>
        </div>
        <div class="col section1-1-bt-2 d-grid gap-2">
          <button type="button" class="btn btn-outline">Começar</button>
        </div>
      </div>
    </div>
    <div class="offset-1 col-6">
      <img class="img-fluid" src="../../../assets/img/img-section-1.png" alt="ilustração">
    </div>
  </div>
</section>
