<section class="section3-bg pt-70">
  <div class="container">
    <div class="section3-img">
      <div class="row section3">
        <div class="col-12 section3-1">
          <div class="offset-1 col-10 offset-1 section3-1-frase text-center">Gere mais e melhores oportunidades</div>
          <div class="offset-1 col-10 offset-1 section3-1-frase text-center">de negócio por meio do <span>Marketing
              Digital</span></div>
          <div class="offset-4 col-4 offset-4 section3-2-frase text-center pt-65">
            Conheça nossos <span>serviços</span>
          </div>
        </div>
        <app-servicos class="pb-70"></app-servicos>
      </div>
    </div>
  </div>
</section>
