<section class="section3-bg">
  <div class="container">
    <div class="row section3">
      <div class="col-12 section3-1">
        <div class="offset-1 col-10 offset-1 section3-1-frase text-center">Gere mais e melhores oportunidades</div>
        <div class="offset-1 col-10 offset-1 section3-1-frase text-center">de negócio por meio do <span>Marketing Digital</span></div>
        <div class="offset-4 col-4 offset-4 section3-2-frase text-center">
          Conheça nossos <span>serviços</span>
        </div>
      </div>
      <div class="row offset-1 col-10 offset-1 section3-2-cards">
        <div class="col text-center section3-2-card">
          <div class="section3-2-card-icone">Ícone</div>
          <div class="section3-2-card-servico">Serviço</div>
          <div class="section3-2-card-descricao">Descrição</div>
        </div>
        <div class="col text-center section3-2-card">
          <div class="section3-2-card-icone">Ícone</div>
          <div class="section3-2-card-servico">Serviço</div>
          <div class="section3-2-card-descricao">Descrição</div>
        </div>
        <div class="col text-center section3-2-card">
          <div class="section3-2-card-icone">Ícone</div>
          <div class="section3-2-card-servico">Serviço</div>
          <div class="section3-2-card-descricao">Descrição</div>
        </div>
      </div>
    </div>
  </div>
</section>
