/* You can add global styles to this file, and also import other style files */
.navbar {
  border-bottom: 2px solid #6025e1;
}

nav .nav-link {
  font-size: 17px;
  color: #333333;
}

nav .nav-contato {
  background-color: #dd5625;
  color: #ffffff;
  border-radius: 10px;
}

nav .nav-contato:hover {
  background-color: #b3441c;
  color: #ffffff;
}

nav .nav-link .svg-inline--fa {
  color: #5b26cf;
}
/* Section 1 */
section .section1 .section1-alinhamento {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section .section1 .section1-1-frase {
  font-size: 61px;
  color: #6025e1;
  line-height: 63px;
}
/* Section 2 */
.section2-bg {
  background-color: #f15a24;
}

.section2-img {
  background:url("assets/img/logo-section2.png") no-repeat;
}

section .section2 .section2-1-frase {
  font-size: 56px;
  color: #ffffff;
  line-height: 63px;
}

section .section2 .section2-1-frase b {
  padding: 0px;
}

section .section2 .section2-1-frase2 {
  font-size: 24px;
  color: #ffffff;
}

section .section2 .section2-2-video {
  border-radius: 45px
}

section .section2 .section2-2 {}
/* Section 3 */
.section3-bg {
  background-color: #5f24e0;
}

.section3-img {
  background:url("assets/img/img-section-3.png") no-repeat;
  background-size: auto;
  background-position: center center;
}

section .section3 .section3-1-frase {
  font-size: 42px;
  color: #ffffff;
  line-height: 63px;
}

section .section3 .section3-1-frase span {
  background-color: #f15a24;
}

section .section3 .section3-2-frase {
  font-size: 34px;
  color: #ffffff;
}

section .section3 .section3-2-frase span {
  color: #e6ea00 !important;
}

section .section3 .section3-2-cards {
  color: #ffffff;
}

section .section3 .section3-2-cards .section3-2-card {
  background: rgb(0,2,0);
  background: linear-gradient(76deg, rgba(0,2,0,1) 0%, rgba(255,255,255,0.26) 150%);
  mix-blend-mode: color-dodge;
  border-radius: 30px;
  margin: 0px 20px;
}

section .section3 .section3-2-cards .section3-2-card .section3-2-card-icone {
  padding-top: 70px;
}

section .section3 .section3-2-cards .section3-2-card .section3-2-card-servico {
  font-size: 22px;
  text-transform: uppercase;
  border-bottom: 2px solid #5f24e0;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 20px;
}

section .section3 .section3-2-cards .section3-2-card .section3-2-card-servico span {
  font-size: 13px;
}

section .section3 .section3-2-cards .section3-2-card .section3-2-card-descricao {
  font-size: 22px;
  padding-top: 30px;
  padding-bottom: 70px;
}
/* Section 4 */
section .section4 .section4-1-titulo{
  font-size: 56px;
  color: #5f24e0;
}

section .section4 .section4-1-descricao{
  font-size: 20px;
  color: #464241;
}

section .section4 .section4-2{
  border: 1px solid #e2e2e2;
  border-radius: 20px;
}

section .section4 .section4-2 .section4-2-cliente{
  font-size: 20px;
}

section .section4 .section4-2 .section4-2-cliente img{
  border: 1px solid #efefef;
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE */
  transition: .3s;
}

section .section4 .section4-2 .section4-2-cliente img:hover{
  -webkit-filter: none;
	filter: none;
}

section .section4 .section4-3 .section4-3-frase{
  font-size: 57px;
  color: #5f24e0;
  line-height: 63px;
}

section .section4 .section4-3 .section4-3-frase span{
  color: #f15a24 !important;
}

section .section4 .section4-3 .section4-3-video{
  border-radius: 45px
}
/* Section 5 */
.section5-bg {
  background-color: #f15a24;
}

section .section5 {}

section .section5 .section5-depoimentos {}

section .section5 .section5-depoimentos .section5-depoimento {}

section .section5 .section5-depoimentos .section5-depoimento .section5-depoimento-img {}

section .section5 .section5-depoimentos .section5-depoimento .section5-depoimento-descricao {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

section .section5 .section5-depoimentos .section5-depoimento .section5-depoimento-cargo {
  font-size: 26px;
  color: #ffffff;
  text-transform: uppercase;
}

section .section5 .section5-depoimentos .section5-depoimento .section5-depoimento-nome {
  color: #e6ea00;
  font-size: 15px;
  text-transform: uppercase;
}

section .section5 .section5-depoimentos .section5-depoimento .section5-depoimento-cidade {
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
}

section .section5 .section5-depoimentos .section5-depoimento-texto {
  margin: -45px 0px 0px 0px;
}

section .section5 .section5-depoimentos .section5-depoimento-texto .section5-depoimento-texto-aspas {
  font-size: 135px;
  display: contents;
  color: #e6ea00;
}
section .section5 .section5-depoimentos .section5-depoimento-texto-1 {
  margin: 55px 0px 0px 0px;
  color: #ffffff;
  font-size: 31px;
}
/* Section 6 */

section .section6 {}

section .section6 .section6-contato {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

section .section6 .section6-contato .section6-contato-frase {
  color: #5f24e0;
  font-size: 60px;
  line-height: 63px;
}

section .section6 .section6-contato .section6-contato-btn button{
  background-color: #19ba3b;
  color: #ffffff;
}

section .section6 .section6-contato .section6-contato-btn button:hover{
  background-color: #00962a;
  color: #ffffff;
}

section .section6 .section6-contato .section6-contato-btn button span{
  font-weight: bolder;
}

section .section6 .section6-contato .section6-contato-btn button svg{
  width: 35px;
  padding-left: 10px;
  fill: rgba(255,255,255,1);
}

section .section6 .section6-contato .section6-contato-frase-2 {
  color: #717172;
  font-size: 46px;
}

section .section6 .section6-contato .section6-contato-tel {
  color: #5f24e0;
  font-size: 33px;
}

section .section6 .section6-form {
  border: 1px solid #dddddd;
  border-radius: 20px;
}
/* Footer */
.footer-bg {
  background-color: #5f24e0;
}

section .footer {
  color: #ffffff;
}

section .footer .footer-marca {
  font-size: 17px;
  text-transform: uppercase;
}

section .footer .footer-descricao {
  font-size: 17px;
}

section .footer .footer-dev {
  font-size: 17px;
}

section .footer .footer-social {
  display: flex;
  flex-direction: column-reverse;
}
/* Form */
.label-input {
  margin-bottom: 0;
}

.form-input {
  border: none;
  border-bottom: 1px solid #b08ab2;
}

.form-input:focus {
  box-shadow: 0px 2px #b08ab2;
}

/* Utilidade */

.mt-20 { margin-top: 20px !important; }
.mt-30 { margin-top: 30px !important; } .mt-35 { margin-top: 35px; }
.mt-40 { margin-top: 40px; } .mt-70 { margin-top: 70px; }

.mb-70 { margin-bottom: 70px; }

.pt-35 { padding-top: 35px; }
.pt-40 { padding-top: 40px; } .pt-60 { padding-top: 60px; }
.pt-65 { padding-top: 65px; } .pt-70 { padding-top: 70px; }
.pt-80 { padding-top: 80px; } .pt-150 { padding-top: 150px; }
.pt-160 { padding-top: 160px; }

.pb-50 { padding-bottom: 50px; }
.pb-60 { padding-bottom: 60px; } .pb-70 { padding-bottom: 70px; }
.pb-100 { padding-bottom: 100px; } .pb-160 { padding-bottom: 160px; }
.pb-200 { padding-bottom: 200px; }

.pe-70 { padding-left: 70px;}
.pd-70 { padding-right: 70px;}

.btn-outline {
  border: 1px solid #7d4de6;
  border-radius: 10px;
  color: #7d4de6;
}

.btn-outline:hover {
  border: 1px solid #7d4de6;
  background-color: #7d4de6;
  color: #ffffff;
}

.btn-laranja {
  background-color: #f15a24;
  border: #f15a24;
  color: #ffffff;
  border-radius: 10px;
}

.btn-laranja:hover {
  background-color: #d0410d;
  color: #ffffff;
}
