<section class="container">
  <div class="row section4">
    <div class="col-12 text-center section4-1">
      <div class="section4-1-titulo">Nossos clientes</div>
      <div class="section4-1-descricao">Conheça alguns dos nossos clientes</div>
    </div>
    <div class="row col-12 section4-2 text-center">
      <div class="col section4-2-cliente">logo</div>
      <div class="col section4-2-cliente">logo</div>
      <div class="col section4-2-cliente">logo</div>
      <div class="col section4-2-cliente">logo</div>
      <div class="col section4-2-cliente">logo</div>
    </div>
    <div class="row col-12 section4-3">
      <div class="col-4 section4-3-frase">Assista o depoimento de um de <span>nossos clientes</span></div>
      <div class="col-8 section4-3-video">Vídeo</div>
    </div>
  </div>
</section>
