<section class="container pt-150">
  <div class="row section4">
    <div class="col-12 text-center section4-1">
      <div class="section4-1-titulo">Nossos clientes</div>
      <div class="section4-1-descricao">Conheça alguns dos nossos clientes</div>
    </div>
    <app-clientes></app-clientes>
    <div class="row col-12 section4-3 pt-70 pb-100">
      <div class="col-4 section4-3-frase">Assista o depoimento de um de <span>nossos clientes</span></div>
      <div class="col-8">
        <video class="section4-3-video img-fluid" controls>
          <source src="../../../assets/videos/leva.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>
