<div class="row col-12 section4-2 text-center mt-40 pt-60 pb-60">
  <div class="row">
    <div class="col section4-2-cliente"><img class="img-fluid" src="../../../assets/img/clientes/1.png" alt="cliente-1"></div>
    <div class="col section4-2-cliente"><img class="img-fluid" src="../../../assets/img/clientes/2.png" alt="cliente-2"></div>
    <div class="col section4-2-cliente"><img class="img-fluid" src="../../../assets/img/clientes/1.png" alt="cliente-3"></div>
    <div class="col section4-2-cliente"><img class="img-fluid" src="../../../assets/img/clientes/2.png" alt="cliente-4"></div>
    <div class="col section4-2-cliente"><img class="img-fluid" src="../../../assets/img/clientes/1.png" alt="cliente-5"></div>
  </div>
  <div class="row mt-20">
    <div class="col section4-2-cliente"><img class="img-fluid" src="../../../assets/img/clientes/2.png" alt="cliente-2"></div>
    <div class="col section4-2-cliente"><img class="img-fluid" src="../../../assets/img/clientes/1.png" alt="cliente-1"></div>
    <div class="col section4-2-cliente"><img class="img-fluid" src="../../../assets/img/clientes/2.png" alt="cliente-4"></div>
    <div class="col section4-2-cliente"><img class="img-fluid" src="../../../assets/img/clientes/1.png" alt="cliente-3"></div>
    <div class="col section4-2-cliente"><img class="img-fluid" src="../../../assets/img/clientes/2.png" alt="cliente-5"></div>
  </div>
</div>
